body{
    background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/991980/b33a11afdff2ef2e1d7502b8d2df0fe9d1efd593.jpg");
    background-repeat: no-repeat; 
    background-position: right top;
    background-attachment: fixed;

  }